<a href="https://colab.research.google.com/github/Lilin-G/ProjectEuler/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python [11 Jan]
*   get input
*   process
*   output result

In [ ]:
# get input (comments)
name = input("Enter name: ")

# process
name = name.upper()

# output result
print(name)

Enter name: girl
GIRL

In [ ]:
# Calculate BMI (body mass index)

# get weight
weight = int(input("Enter weight (kg): ")) # integer

# get height
height = float(input("Enter height (m): ")) # float

# compute BMI
bmi = weight / (height * height)

# output BMI
print(bmi)

Shortcut for multiple line comment - Ctrl /

In [ ]:
# Multiples of 3 or 5
# Problem 1
# If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. 
# The sum of these multiples is 23.
# Find the sum of all the multiples of 3 or 5 below 1000.

# process


# output

In [ ]:
9 / 4 # true division

2.25

Retains quotient only: // (division operator)

In [ ]:
9 // 4 # integer division

2

Power of: **

In [ ]:
3 ** 4

81

Retains remainder or none: %

In [ ]:
8 % 3 # modulus

2

In [ ]:
8 % 4

0

Binary: ==

In [ ]:
8 % 4 == 0 # boolean

True

In [ ]:
8 % 3 == 0

False

Conditional:
else is optional in this context

In [ ]:
if 9 % 3 == 0: # 9 is multiple of 3
  print("multiple")
else:
  print("not divisible")

multiple

In [ ]:
if 8 % 3 == 0: # 9 is multiple of 3
  print("multiple")
else:
  print("not divisible")

not divisible

In [ ]:
num = 1

if num % 3 == 0: # divisible
  print("divisible")
else:
  print("not divisible")

not divisible

In [ ]:
num = 6

if num % 3 == 0: # divisible
  print("divisible")
else:
  print("not divisible")

divisible

Writing a loop
i: variable
(1, 6)
1: inclusive
6: one less than 6, excluding 6

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(1, 6, 2):
  print(i)

1
3
5

In [ ]:
for i in range(1, 10):
  # print(i)
  if i % 3 == 0: # divisble because zero remainder
    print("multiple of 3")
  else:
    print("not multiple of 3")

not multiple of 3
not multiple of 3
multiple of 3
not multiple of 3
not multiple of 3
multiple of 3
not multiple of 3
not multiple of 3
multiple of 3

In [ ]:
total = 0

for i in range(1, 10):
  # print(i)
  if i % 3 == 0: # divisble because zero remainder
    total = total + i # assignnment operator

print(total)

18

In [ ]:
total = 0

for i in range(1, 10):
  # print(i)
  if (i % 3 == 0) or (i % 5 == 0): # divisble because zero remainder
    total = total + i # assignnment operator

print(total)

23

# Task 1: Project Euler, task 3 to 5

Project Euler #3
What is the largest prime factor of the number 600851475143 ?

In [ ]:
n = 600851475143
i = 2
while i * i <n:
    while n % i == 0:
        n = n / i
    i = i + 1

print (n)

6857.0

Project Euler #4 Find the largest palindrome made from the product of two 3-digit numbers.

In [ ]:
n = 0
for a in range(999, 100, -1):
    for b in range(a, 100, -1):
        x = a * b
        if x > n:
          s = str(a * b)
          if s == s[::-1]:
              n = a * b
print(n)

906609

Project Euler #5 What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

In [ ]:
def gcd(x,y): return y and gcd(y, x % y) or x
def lcm(x,y): return x * y / gcd(x,y)

n = 1
for i in range(1, 20):
    n = lcm(n, i)
print(n)

232792560.0